.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.project:last-child {
  margin-bottom: 0;
}

.imageLink {
  width: 100%;
  max-width: 640px;
  margin-bottom: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
}

.image {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
}

.link {
  display: block;
  color: var(--terracotta);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.description {
  max-width: 640px;
  width: 100%;
  padding-bottom: 1rem;
}

.description p {
  margin: 0;
}

@media (min-width: 1024px) {
  .project {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .project .imageLink {
    margin-bottom: 0;
    margin-left: 3rem;
  }

  .project .description {
    padding-bottom: 0;
  }

  .project:nth-child(even) {
    flex-direction: row;
  }

  .project:nth-child(even) .imageLink {
    margin-left: 0;
    margin-right: 3rem;
  }

  .link {
    font-size: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .project {
    margin-bottom: 6rem;
  }
}
