@use "./_colors";

* {
  box-sizing: border-box;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: colors.$mineshaft;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$mineshaft;
    color: white;
  }
}

svg {
  display: block;
  fill: currentColor;
}

a {
  color: inherit;
}
