.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0;
}

.hero .about {
  display: none;
}

.hero .me {
  width: 100%;
  max-width: 360px;
  height: auto;
}

.text h1 {
  margin: 0;
}

.text h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text h3 svg {
  fill: red;
  margin: 0 0.25rem;
}

.tech .grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 1rem;
}

.tech .grid .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech .grid .column svg {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.container.about {
  border-bottom: 0.25rem dashed var(--gallery);
}

.about p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.about p:last-child {
  margin: 0;
}

.container h2 {
  margin-top: 0;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .about {
    display: none;
  }
  .about+div {
    display: none;
  }

  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .container h2 {
    margin-bottom: 3rem;
  }

  .hero {
    flex-direction: row-reverse;
    justify-content: center;
  }

  .hero .text {
    max-width: 640px;
    align-self: flex-end;
    margin-bottom: 2rem;
  }

  .hero .text h1 {
    text-align: left;
  }

  .hero .text h3 {
    justify-content: flex-start;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--terracotta);
  }

  .hero .about {
    display: block;
  }
}
