@use "../../styles/breakpoints";
@use "../../styles/colors";

.links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: darken(colors.$primary, 5%);
  padding: 1rem;

  a {
    color: white;
    transform: translateY(0);
    transition: 0.2s ease-in-out transform;
    margin: 0 1rem;
    font-size: 1.5rem;

    svg {
      display: block;
    }

    &:hover,
    &:active {
      transform: translateY(-2px);
    }
  }
}

.wave {
  display: block;
  margin: 0 -2px -1rem;

  @media (min-width: breakpoints.$desktop) {
    margin-bottom: -4rem;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$primary;
  color: white;
  text-align: center;
  padding: 2rem 1rem;

  h2 {
    margin-top: 0;
    color: inherit;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
